{% extends 'base.html' %}

{% block header %}
  <!--<h2 class="text-5xl font-semibold leading-loose dark:text-white">{% block title %}Upload Image{% endblock title %}</h2>-->

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300">
      <ul class=flashes>
        {% for message in messages %}
        <li class="">
          <div class="flex">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 stroke-yellow-800 dark:stroke-yellow-300 w-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" />
          </svg>
          <span>{{ message }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  {% endwith %}
{% endblock header %}

{% block content %}



  <div class="mx-auto block max-w-lg bg-white rounded-xl p-10 mt-8">
    <div class="text-center">
			<h2 class="mt-5 text-3xl font-bold text-gray-900">
				Upload Image!
			</h2>
			<p class="mt-2 text-sm text-gray-400">Allowed file types: png, jpg, jpeg, gif.</p>
		</div>
    <form method="post" enctype="multipart/form-data" class="mt-8 space-y-3">
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide" for="author">Your Name</label>
            <input type="text" name="author" id="author" value="{{ request.form['author'] }}" class="text-base text-black p-2 border border-gray-300 bg-gray-100 rounded-lg focus:outline-none focus:border-indigo-500">
        </div>
        <div class="grid grid-cols-1 space-y-2">
            <label class="text-sm font-bold text-gray-500 tracking-wide" for="image">Attach Image</label>
            <input type="file" name="image" id="image" class="w-full text-black text-base bg-gray-100 file:cursor-pointer cursor-pointer file:border-0 file:py-2.5 file:px-4 file:mr-4 file:bg-gray-800 file:hover:bg-gray-700 file:text-white rounded-lg">{{ request.form['image'] }}</input>
        </div>
        <div class="grid grid-cols-1 space-y-2">
            <input type="submit" value="Upload" class="mt-8 shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded">
        </div>
    </form>
  </div>
{% endblock content %}